<h4 style="color:#dc0060">Section C - Tell us what you like</h4>
<ul class="looks">
	<li>
		<div>
			<div class="label pull-left">
				What do you think of below styles?
			</div>
			<br />
			<div class="radio">
				<label>
					<input type="radio" class="radio_styles" name="user[styles][1]" value="Love It"<% concat "checked" if (defined?(@userdata['styles']['1']) && @userdata['styles']['1'] == 'Love It') %>>
					Love It </label>

				<label>
					<input type="radio" class="radio_styles" name="user[styles][1]" value="Like It"<% concat "checked" if (defined?(@userdata['styles']['1']) && @userdata['styles']['1'] == 'Like It') %>>
					Like It </label>

				<label>
					<input type="radio" class="radio_styles" name="user[styles][1]" value="Not My Style"<% concat "checked" if (defined?(@userdata['styles']['1']) && @userdata['styles']['1'] == 'Not My Style') %>>
					Not My Style </label>
			</div>
			<!--<select class="" name="user[styles][1]" type="text">
			<option <% concat "selected" if (defined?(@userdata['styles']['1']) && @userdata['styles']['1'] == '') %>></option>
			<option <% concat "selected" if (defined?(@userdata['styles']['1']) && @userdata['styles']['1'] == 'Loved them') %>>Loved them</option>
			<option <% concat "selected" if (defined?(@userdata['styles']['1']) && @userdata['styles']['1'] == 'Like them') %>>Like them </option>
			<option <% concat "selected" if (defined?(@userdata['styles']['1']) && @userdata['styles']['1'] == 'Not my style') %>>Not my style</option>
			</select>-->

			<img style="" src="look1.png">
			<div style="clear"></div>
		</div>
	</li>
	<br />
	<br />
	<br />
	<li>
		<div>
			<div class="label pull-left">
				What do you think of below styles?
			</div>
			<br />
			<div class="radio">
				<label>
					<input type="radio" class="radio_styles" name="user[styles][2]" value="Love It"<% concat "checked" if (defined?(@userdata['styles']['2']) && @userdata['styles']['2'] == 'Love It') %>>
					Love It </label>

				<label>
					<input type="radio" class="radio_styles" name="user[styles][2]" value="Like It"<% concat "checked" if (defined?(@userdata['styles']['2']) && @userdata['styles']['2'] == 'Like It') %>>
					Like It </label>

				<label>
					<input type="radio" class="radio_styles" name="user[styles][2]" value="Not My Style"<% concat "checked" if (defined?(@userdata['styles']['2']) && @userdata['styles']['2'] == 'Not My Style') %>>
					Not My Style </label>
			</div>

			<!--<div class="pull-left">
			<select class="" name="user[styles][2]" type="text">
			<option <% concat "selected" if (defined?(@userdata['styles']['2']) && @userdata['styles']['2'] == '') %>></option>
			<option <% concat "selected" if (defined?(@userdata['styles']['2']) && @userdata['styles']['2'] == 'Loved them') %>>Loved them</option>
			<option <% concat "selected" if (defined?(@userdata['styles']['2']) && @userdata['styles']['2'] == 'Like them') %>>Like them </option>
			<option <% concat "selected" if (defined?(@userdata['styles']['2']) && @userdata['styles']['2'] == 'Not my style') %>>Not my style</option>
			</select>
			</div>-->
			<img style="" src="look2.png">
			<div style="clear"></div>
		</div>
	</li>
	<br />
	<br />
	<br />
	<li>
		<div>
			<div class="label pull-left">
				What do you think of below styles?
			</div>
			<br />
			<div class="radio">
				<label>
					<input type="radio" class="radio_styles" name="user[styles][3]" value="Love It"<% concat "checked" if (defined?(@userdata['styles']['3']) && @userdata['styles']['3'] == 'Love It') %>>
					Love It </label>

				<label>
					<input type="radio" class="radio_styles" name="user[styles][3]" value="Like It"<% concat "checked" if (defined?(@userdata['styles']['3']) && @userdata['styles']['3'] == 'Like It') %>>
					Like It </label>

				<label>
					<input type="radio" class="radio_styles" name="user[styles][3]" value="Not My Style"<% concat "checked" if (defined?(@userdata['styles']['3']) && @userdata['styles']['3'] == 'Not My Style') %>>
					Not My Style </label>
			</div>

			<!--<div class="pull-left">
			<select class="" name="user[styles][3]" type="text">
			<option <% concat "selected" if (defined?(@userdata['styles']['3']) && @userdata['styles']['3'] == '') %>></option>
			<option <% concat "selected" if (defined?(@userdata['styles']['3']) && @userdata['styles']['3'] == 'Loved them') %>>Loved them</option>
			<option <% concat "selected" if (defined?(@userdata['styles']['3']) && @userdata['styles']['3'] == 'Like them') %>>Like them </option>
			<option <% concat "selected" if (defined?(@userdata['styles']['3']) && @userdata['styles']['3'] == 'Not my style') %>>Not my style</option>
			</select>
			</div>-->
			<img style="" src="look3.png">
			<div style="clear"></div>
		</div>
	</li>
	<br />
	<br />
	<br />
	<li>
		<div>
			<div class="label pull-left">
				What do you think of below styles?
			</div>
			<br />
			<div class="radio">
				<label>
					<input type="radio" class="radio_styles" name="user[styles][4]" value="Love It"<% concat "checked" if (defined?(@userdata['styles']['4']) && @userdata['styles']['4'] == 'Love It') %>>
					Love It </label>

				<label>
					<input type="radio" class="radio_styles" name="user[styles][4]" value="Like It"<% concat "checked" if (defined?(@userdata['styles']['4']) && @userdata['styles']['4'] == 'Like It') %>>
					Like It </label>

				<label>
					<input type="radio" class="radio_styles" name="user[styles][4]" value="Not My Style"<% concat "checked" if (defined?(@userdata['styles']['4']) && @userdata['styles']['4'] == 'Not My Style') %>>
					Not My Style </label>
			</div>

			<!--<div class="pull-left">
			<select class="" name="user[styles][4]" type="text">
			<option <% concat "selected" if (defined?(@userdata['styles']['4']) && @userdata['styles']['4'] == '') %>></option>
			<option <% concat "selected" if (defined?(@userdata['styles']['4']) && @userdata['styles']['4'] == 'Loved them') %>>Loved them</option>
			<option <% concat "selected" if (defined?(@userdata['styles']['4']) && @userdata['styles']['4'] == 'Like them') %>>Like them </option>
			<option <% concat "selected" if (defined?(@userdata['styles']['4']) && @userdata['styles']['4'] == 'Not my style') %>>Not my style</option>
			</select>
			</div>-->
			<img style="" src="look4.png">
			<div style="clear"></div>
		</div>
	</li>
	<br />
	<br />
	<br />
	<li>
		<div>
			<div class="label pull-left">
				What do you think of below styles?
			</div>
			<br />
			<div class="radio">
				<label>
					<input type="radio" class="radio_styles" name="user[styles][5]" value="Love It"<% concat "checked" if (defined?(@userdata['styles']['5']) && @userdata['styles']['5'] == 'Love It') %>>
					Love It </label>

				<label>
					<input type="radio" class="radio_styles" name="user[styles][5]" value="Like It"<% concat "checked" if (defined?(@userdata['styles']['5']) && @userdata['styles']['5'] == 'Like It') %>>
					Like It </label>

				<label>
					<input type="radio" class="radio_styles" name="user[styles][5]" value="Not My Style"<% concat "checked" if (defined?(@userdata['styles']['5']) && @userdata['styles']['5'] == 'Not My Style') %>>
					Not My Style </label>
			</div>

			<!--<div class="pull-left">
			<select class="" name="user[styles][5]" type="text">
			<option <% concat "selected" if (defined?(@userdata['styles']['5']) && @userdata['styles']['5'] == '') %>></option>
			<option <% concat "selected" if (defined?(@userdata['styles']['5']) && @userdata['styles']['5'] == 'Loved them') %>>Loved them</option>
			<option <% concat "selected" if (defined?(@userdata['styles']['5']) && @userdata['styles']['5'] == 'Like them') %>>Like them </option>
			<option <% concat "selected" if (defined?(@userdata['styles']['5']) && @userdata['styles']['5'] == 'Not my style') %>>Not my style</option>
			</select>
			</div>-->
			<img style="" src="look5.png">
			<div style="clear"></div>
		</div>
	</li>
	<br>
</ul>
<br>
