<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

	<script>
		$(function() {
			$("#scheduleddeliverydate").datepicker({
				minDate : 10
			});
			$('#submission').click(function() {

				$.ajax({

					url : '/orders',
					method : "POST",
					data : {
						scheduleddeliverydate : $("#scheduleddeliverydate").val(),
						address : $("#input-address").val(),
						phone : $("#input-phone").val()
					},
					success : function(data) {
						$('#details-confirmation-form').toggle();
						$('#confirm-submission').toggle();
						order_code = $.parseJSON(data);
						$('#result_code').html(order_code.order_code);
					},

					error : function(XMLHttpRequest, textStatus, errorThrown) {
						console.log("Internal Server Error : " + textStatus);
					}
				});

			});
		});
	</script>

	<style>
		.input-ic {
			width: 500px;
		}
		.input-address {
			width: 500px;
			height: 200px;
		}
	</style>
</head>

<div style="padding-top:120px" class="container" id="details-confirmation-form">

	
	<h2 style="text-align: left; padding-left: 5%; color: #dc0060">
		Please confirm the following details : </h2>
	<br />
	<br />
	<br />
	<form class="style-log">
		<h4>Phone Number : </h4>
		<input class="input-ic" id="input-phone" value="<%= @userprofile['phonenumber'] %>" placeholder="" type="text" required />
		<br />
		<br />
		<h4>Address : </h4>
		<textarea class="input-address" rows="5" id="input-address" required ><%= @userprofile['address'] %></textarea>
		<br />
		<br />
		<h4>Date of Delivery : </h4>
		<input class="input-ic" id= "scheduleddeliverydate" placeholder="" type="text" required />
		<br />
		<button style = "margin-top: 30px; margin-left: 5%;" class = "btn btn-z btn-z1 transform-up" type="button" id="submission">
			Confirm
		</button>
	</form>
</div>

<div style="padding-top:120px" class="container" id='confirm-submission' hidden>
	<div style="text-align: left; padding-left: 5%;">
		<p style="margin:0;padding:0;color:#F6358A;letter-spacing:3px;text-align: center">
			WELCOME TO ZUPLR
		</p><br />
		<p style="margin:0;padding:0;color:#837c77;text-align: center">
			Thanks for taking time out to fill the Style Log. Soon a stylist will be getting in touch with you.
			<br />
			Order Code is : <strong id="result_code"></strong>
			<br />
			<img alt="" height="240" src="https://s20.postimg.org/4un744jn1/email_box_image.png" style="margin:auto;border:0px;display:block" height="0" class="CToWUd">
			<br />
			You can edit your Style Log here :
			<%= link_to 'Style Log', "/style-log" %>
			<br />
			<%= link_to 'View Previous Orders', "/orders" %>
		</p>
	</div>
</div>

