<div style="padding-top:100px" class="container">
	<h2 style="text-align: left; padding-left: 0%; color: #dc0060">Welcome to Zuplr</h2><br>
	<p>Please provide the following details, our stylist will get in touch with you shortly.</p>
	<div class="row">
		<div class="col-sm-6">
			<div class="message" id="message" style="display: none">
				<p style="color:rgba(220,0,96,1); font-size:16px; padding: 10px 0px; line-height: 35px;">Thank you for sharing your details, our stylist will get in touch with you shortly.</p> 
       <hr>
       <p style="font-size: 12px; font-weight:bold; margin-bottom: 20px;">To make the most of this session, we suggest you to fill out the style-log.</p>
       <a href="/users/start">  <button type="submit" name="commit" class="btn btn-z1 btn-z2 btn-block">Log my style</button>
       </a>
     </div>
     <form role="form" class="new_user login-form" id="new_user" action="/users" accept-charset="UTF-8" method="post">
      <input name="utf8" type="hidden" value="✓">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
      <div class="form-group">
        <input autofocus="autofocus" placeholder="Enter your phone number" class="form-control" type="text" value="" name="user[phonenumber]" id="user_phone">
      </div>
      <div class="form-group">
        <input placeholder="Enter your city" class="form-control" type="text" value="" name="user[city]" id="user_city">
      </div>   
      <button type="submit" id="form_submit" name="commit" class="btn btn-z1 btn-z2 btn-block">Save data</button>
    </form>

    <br>
    <br>
    <br>
    <br>
  </div>
</div>

</div>

<script type="text/javascript">
	$("#form_submit").on('click',function(e){
		e.preventDefault();
    if($('#user_phone').val().length > 0 && $('#user_city').val().length > 0) {
      var regex_for_phone = /^([0|\+[0-9]{1,5})?([7-9][0-9]{9})$/;
      if (regex_for_phone.test($('#user_phone').val())) {
        var data = $( ":input" ).serializeArray();
        $.ajax({
          url: '/users/new-signup',
          data: data,
          method: 'POST',
          success: function(){
            $('#new_user').hide();
            $('#message').show();
          },
          error: function(){
            console.log('Error in data angular.isArray(value)ving')
          }
        });
      } else {
        alert('Please enter a valid phone number');
      }
      
    } else {
      alert("Please fill all the details");
    }

  });
</script>