<div class="container" style="padding-top: 120px;">
	<h1>Thank you for signing up with Zuplr</h1>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		setTimeout(function(){
			window.location = "/style-log"
		}, 3000)
	})

</script>