<style>
	#order_status_history_popup {
		margin: auto;
		width: 500px;
		margin-top: 200px;
	}
</style>

<!-- Modal -->

<div class="modal fade" id="order_status_history_popup" role="dialog">
	<div class="modal-admin" style="">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					&times;
				</button>
				<h4 class="modal-title" id="order_status_history_popup_name">Order History</h4>
			</div>
			<div class="modal-body">
				<table>
					<thead>
						<tr>
							<th>Date</th><th>Status</th>
						</tr>
					</thead>
					<tbody id="order_status_history_info">
						
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
			</div>
		</div>
	</div>
</div>