<!-- Modal -->
<div class="modal fade" id="styleLogPopup" role="dialog">
	<div class="modal-admin" style="width: 1000px; margin-top: 150px; margin-left: auto; margin-right: auto;">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					&times;
				</button>
				<h4 class="modal-title" id="styleLogPopupName">Modal Header</h4>
			</div>
			<div class="modal-body">
				<p id="styleLogPopupStyleInfo" style="word-wrap: break-word">
					<div class="row">
						<div class="col-sm-3">
							Age : <span id="age"></span><br />
							Height : <span id="height_feet"></span>
							ft <span id="height_inches"></span>
							in
							<br />
							Weight : <span id="weight"></span>
							Kg
							<br />
							Bra Size : <span id="bra_size"></span><span id="bra_cup"></span>
							<br />
							Top Size : <span id="size_top"></span>
							<br />
							Top Brand : <span id="top_brand"></span>
							<br />
							Waist : <span id="personal_waist"></span>
							in
							<br />
							Hip Size : <span id="hip"></span>
							in
							<br />
							Shoulders : <span id="shoulders"></span>
						</div>
						<div class="col-sm-4">
							Business Casual : <span id="styles_1"></span><br />
							Business Dresses : <span id="styles_2"></span><br />
							Casual : <span id="styles_3"></span><br />
							Ultra Casual : <span id="styles_4"></span><br />
							Ethnic : <span id="styles_5"></span><br />
							<br />
							Materials to be avoided : <span id="materials"></span><br />
							Colours which are a turn off : <span id="colors"></span><br />
							Prints which are a turn off : <span id="prints"></span>
						</div>
						<div class="col-sm-5">
							Accessory Style : <span id="accessory"></span><br />
							Jewellery : <span id="jewellery"></span><br />
							Budget : INR <span id="lifestyle_accmax"></span>
							To <span id="lifestyle_accmin"></span><br /><br />
							<u><a id= "pinterest" href="" target="_blank">Pinterest</a></u><br />
							<u><a id= "facebook" href="" target="_blank">Facebook</a></u><br />
							<u><a id= "instagram" href="" target="_blank">Instagram</a></u><br />
							<!--Pinterest : <br /><span id= "pinterest"></span><br />
							Facebook : <br /><span id= "facebook"></span><br />
							Instagram : <br /><span id= "instagram"></span><br />-->
						</div>
					</div>

					
					
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
			</div>
		</div>

	</div>
</div>