<div class="container top-space stylist">
	<div class="row top-menu">
		<div class="col-sm-2 active">My Sessions</div>
		<!-- <div class="col-sm-2">Users</div> -->
	</div>
	<table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Session Id</th>
                <th>Name</th>
                <th>Phone number</th>
                <th>Data</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
        </tbody>
    </table>
</div>