<div class="container top-space stylist">
	<div class="row top-menu">
		<div class="col-sm-2 active">
			My Sessions
		</div>
		<!-- <div class="col-sm-2">Users</div> -->
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<!--<th>Email</th>-->
				<th>Phone number</th>
				<th>Profile</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<% @orderinfo.each do |oi| %>
			<tr>
				<td><%= oi.name %></td>
				
				<td><%= oi.phonenumber %></td>
				<td><%= oi.data %></td>
				<td><%= oi.status %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>