<div style="padding-top:120px" class="container">
	<h2 style="text-align: left; padding-left: 5%; color: #dc0060">Welcome to Zuplr's style log!</h2><br>
	<form class="style-log">
		<h3> Hi <input class="input" placeholder="Guest" type="text"/>!</h3> <br>
		<p>
		We're excited to start styling for you. Our Style Profile helps us to understand you and your style better. We're ready to start asking questions, if you're ready to start answering them.</p>
		<p>Don't forget—the more we know about you, the better we can style for you!<br>
		We currently carry sizes 0–14 (XS–XL). We are actively working to add more range of sizes so that we can serve more women well. 
		</p><br>
		<h4>Lets get started</h4>
		<h4 style="color:#dc0060">Section A - Your body statistics and Fittings </h4>
		<ul>
			<li>I am 
				<input class="input-sm" placeholder="25" type="text"/> years old, and 
				<input class="input-sm" placeholder="5" type="text"/>feet & 
				<input class="input-sm" placeholder="10" type="text"/> inches tall. Last time I hopped on a weighing machine, it displayed 
				<input class="input-sm" placeholder="58" type="text"/> kg. </li>
			<li>Bras that fit me best are of size 
				<input class="input-sm" type="text"/>, cup 
				<input class="input-sm" type="text"/>, and generally of
				<select class="" type="text">
				<option>XS</option>
				<option>S</option>
				<option>M</option>
				<option>L</option>
				<option>XL</option>
			</select>size fits me best.</li>
			<li>The size I normally wear for blouses/tops and shirts is
				<select class="" type="text">
				<option>XS</option>
				<option>S</option>
				<option>M</option>
				<option>L</option>
				<option>XL</option>
			</select>.</li>
			<li>I feel comfortable on top half of my body fit as 
				<select class="" type="text">
				<option>Loose</option>
				<option>Tight</option>
				<option>Slightly loose</option>
			</select> and I prefer 
				<select class="" type="text">
				<option>Skin Tight</option>
				<option>Slightly loose</option>
				<option>Perfect fit</option>
			</select> pants,
				<input class="input-sm" type="text"/> jeans and skirts of
			<select class="" type="text">
				<option>XS</option>
				<option>S</option>
				<option>M</option>
				<option>L</option>
				<option>XL</option>
			</select>size  and I love it on 
			<select class="" type="text">
				<option>High waist</option>
				<option>Mid waist</option>
				<option>Low waist</option>
			</select> with a  
			<select class="" type="text">
				<option>Pencil cut</option>
				<option>Plain straight</option>
				<option>Bootcut</option>
				<option>Comfort</option>
			</select>style . </li>
			<li>I prefer jeans of <select class="" type="text">
				<option>Ankle (28" - 29")</option>
				<option>Regular (30" - 32")</option>
				<option>Long (33" - 35")</option>
			</select> 
			length with <select class="" type="text">
				<option>High</option>
				<option>Mid</option>
				<option>Low</option>
			</select>   
			rise and <select class="" type="text">
				<option>Skinny</option>
				<option>Straight</option>
				<option>Bootcut</option>
				<option>Wide</option>
			</select>  
			Style </li>
			<li>I feel the best fitting clothes for bottom half of my body are <select class="" type="text">
				<option>Tight fitted</option>
				<option>Loose</option>
			</select> type, and yeah I<select class="" type="text">
				<option>do</option>
				<option>do not</option>
			</select> consider my bottom half curvy.</li>
			<li>When I take a look in the mirror, I find that, my shoulders are<select class="" type="text">
				<option>Short</option>
				<option>Average</option>
				<option>Long</option>
			</select> and arms are <select class="" type="text">
				<option>Skinny</option>
				<option>Straight</option>
				<option>Bootcut</option>
				<option>Wide</option>
			</select>. My torso is kinda <select class="" type="text">
				<option>Short</option>
				<option>Average</option>
				<option>Long</option>
			</select> and hips are <select class="" type="text">
				<option>Narrow</option>
				<option>Average</option>
				<option>Broad</option>
			</select>. Legs???, Well they are <select class="" type="text">
				<option>Short</option>
				<option>Average</option>
				<option>Long</option>
			</select>.
			</li>
		</ul><br>
		<h4 style="color:#dc0060">Section B - Tell us what you like</h4>
		<ul>
			<li>What do you think of below styles?</li>
			<li>What do you think of below styles?</li>
			<li>What do you think of below styles?</li>
			<li>What do you think of below styles?</li>
			<li>What do you think of below styles?</li>
			<li>What do you think of below styles?</li>
		</ul><br>
		<h4 style="color:#dc0060">Section C - A peek in your lifestyle </h4>
		<ul>
			<li>I am currently working as
				<select class="" type="text">
				<option>IT Professional</option>
				<option>Manager</option>
				<option>Startup Freak</option>
				<option>Entrepreneur</option>
				<option>Home maker</option>
				<option>Designer</option>
				<option>Coder</option>
				<option>Event manager</option>
				<option>Finance professional</option>
				<option>Others</option>
			</select>and I am a <select class="" type="text">
				<option>Single</option>
				<option>Married</option>
				<option>Mom</option>
				<option>Expecting</option>
			</select>. :)</li>
			<li>How often do you dress for the following occasions?
				<ul>
					<li>Dressing for Business Casual / Work  is something that <select class="" type="text">
						<option>Takes up most of my time</option>
						<option>I do once or twice a week</option>
						<option>I do once or twice a month</option>
						<option>Rarely</option>
					</select>
					</li>
					<li>Cocktail / Wedding / Special <select class="" type="text">
						<option>Takes up most of my time</option>
						<option>I do once or twice a week</option>
						<option>I do once or twice a month</option>
						<option>Rarely</option>
					</select>
					</li>
					<li>Laid Back Casual <select class="" type="text">
						<option>Takes up most of my time</option>
						<option>I do once or twice a week</option>
						<option>I do once or twice a month</option>
						<option>Rarely</option>
					</select></li>
					<li>Date Night / Night Out  <select class="" type="text">
						<option>Takes up most of my time</option>
						<option>I do once or twice a week</option>
						<option>I do once or twice a month</option>
						<option>Rarely</option>
					</select></li>
				</ul>
			</li>
			<li>How much do you want your Zuplr fix selections to focus on the following occasions?
				<ul>
					<li  style="width:100%">Dressing for Business Casual / Work  is something that <select class="" type="text">
						<option>Frequently: As much as I can get! </option>
						<option>Consistently: Would love to see at least one piece per shipment </option>
						<option>If my stylist really loves it for me but don't need it in every shipment</option>
						<option>Very Little: Rarely, or only when I specifically ask for it</option>
					</select>
					</li>
					<li  style="width:100%" style="width:100%">Cocktail / Wedding / Special <select class="" type="text">
						<option>Frequently: As much as I can get! </option>
						<option>Consistently: Would love to see at least one piece per shipment </option>
						<option>If my stylist really loves it for me but don't need it in every shipment</option>
						<option>Very Little: Rarely, or only when I specifically ask for it</option>
					</select>
					</li>
					<li style="width:100%">Laid Back Casual<select class="" type="text">
						<option>Frequently: As much as I can get! </option>
						<option>Consistently: Would love to see at least one piece per shipment </option>
						<option>If my stylist really loves it for me but don't need it in every shipment</option>
						<option>Very Little: Rarely, or only when I specifically ask for it</option>
					</select>
					</li>
					<li style="width:100%">Date Night / Night Out <select class="" type="text">
						<option>Frequently: As much as I can get! </option>
						<option>Consistently: Would love to see at least one piece per shipment </option>
						<option>If my stylist really loves it for me but don't need it in every shipment</option>
						<option>Very Little: Rarely, or only when I specifically ask for it</option>
					</select>
					</li>
				</ul>
			</li>
			<li>I am comfortable to show off  my <select class="" type="text">
						<option>Shoulder</option>
						<option>Arms </option>
						<option>Back </option>
						<option>Belly </option>
						<option>Clevage </option>
					</select>on daily basis or specific occasions.   and on lower body I am 
				<select class="" type="text">
						<option>Okay</option>
						<option>Not Okay </option>
					</select> to flaunt my legs.</li>
			<li>How much would you ideally spend on items in each of the following categories? We'll do our very best!
				<ul>
					<li>Accessories : Inexpensive or regular ones  or I would rather take it as investment, so I don’t mind as long as it is awesome! Min<input class="input-sm" placeholder="" type="text"/> Max<input class="input-sm" placeholder="" type="text"/></li>
					<li>Bottom: Inexpensive Min <input class="input-sm" placeholder="" type="text"/> Max<input class="input-sm" placeholder="" type="text"/></li>
					<li>Dresses: Inexpensive Min<input class="input-sm" placeholder="" type="text"/> Max<input class="input-sm" placeholder="" type="text"/></li>
					<li>Outer Layers: Inexpensive the better  Min<input class="input-sm" placeholder="" type="text"/> Max<input class="input-sm" placeholder="" type="text"/></li>
					<li>Tops: inexpensive the better   Min<input class="input-sm" placeholder="" type="text"/> Max<input class="input-sm" placeholder="" type="text"/></li>
				</ul>
			</li>
			<li>Help us in making you more happy, let us know  if you would like us to avoid shipping of any apparels like <input class="input" placeholder="" type="text"/> and accessory like<input class="input" placeholder="" type="text"/>.</li>
			<li>Should we avoid any of these fabrics or materials in your shipments?
			<select class="" type="text">
				<option>Leather</option>
				<option>Pleather</option>
				<option>Polyester</option>
				<option>Wool</option>
				<option>Cotton</option>
				<option>Knit</option>
				<option>Knit</option>
			</select>
			</li>
			<li>I am more of a jeans / pants and top gal or a dresses gal?
			<select class="" type="text">
				<option>Mostly Jeans</option>
				<option>Mostly Dresses</option>
				<option>Healthy Mix of Both</option>
			</select>
			</li>
			<li>Our stylist  would  like to make you more beautiful! So, tell us if you are of any of these types, which is listed below: 
			<select class="" type="text">
				<option>Adventure is my middle name, bring it on!</option>
				<option>Sometimes: I love trying new trends and brands</option>
				<option>Occasionally: I'd like to incorporate a few unique and interesting pieces </option>
				<option>Never Adventurous: Keep my clothes timeless</option>
			</select>
			</li>
			<!-- <li>My ears  <select class="" type="text">
				<option>are</option>
				<option>are not</option>
			</select>  pierced.</li> -->
			<li>Are you looking to incorporate more of the styles below into your wardrobe?
 			<select class="" type="text">
				<option>Bohemian Chic</option>
				<option>Casual Chic</option>
				<option>Classic</option>
				<option>Edgy</option>
				<option>Glamorous</option>
				<option>Peppy</option>
				<option>Romantic</option>
			</select>
			</li>
			<li>I like to <select class="" type="text">
				<option>Keep it classic</option>
				<option>Make a statement</option>
				<option>Mantain classic and Make a statement</option>
			</select> with my accessory and jewelry style.</li>
			<li>My preferred tone of jewelry is <select class="" type="text">
				<option>Mostly Gold tones </option>
				<option>Mostly Silver tones </option>
				<option>Mix of both</option>
			</select> </li>
			<li>Please tick the colors which are a turn off:<br>
				<label class="checkbox-inline"><input type="checkbox" value=""/><div class="color-box" style="background: black"></div></label>
				<label class="checkbox-inline"><input type="checkbox" value=""/><div class="color-box" style="background: gray"></div></label>
				<label class="checkbox-inline"><input type="checkbox" value=""/><div class="color-box" style="background: blue"></div></label>
				<label class="checkbox-inline"><input type="checkbox" value=""/><div class="color-box" style="background: brown"></div></label>
				<label class="checkbox-inline"><input type="checkbox" value=""/><div class="color-box" style="background: teal"></div></label>
				<label class="checkbox-inline"><input type="checkbox" value=""/><div class="color-box" style="background: yellow"></div></label>
				<label class="checkbox-inline"><input type="checkbox" value=""/><div class="color-box" style="background: white"></div></label>
				<label class="checkbox-inline"><input type="checkbox" value=""/><div class="color-box" style="background: silver"></div></label>
				<label class="checkbox-inline"><input type="checkbox" value=""/><div class="color-box" style="background: red"></div></label>
				<label class="checkbox-inline"><input type="checkbox" value=""/><div class="color-box" style="background: purple"></div></label>
				<label class="checkbox-inline"><input type="checkbox" value=""/><div class="color-box" style="background: pink"></div></label>
				<label class="checkbox-inline"><input type="checkbox" value=""/><div class="color-box" style="background: orange"></div></label>
				<label class="checkbox-inline"><input type="checkbox" value=""/><div class="color-box" style="background: navy"></div></label>
				<label class="checkbox-inline"><input type="checkbox" value=""/><div class="color-box" style="background: green"></div></label>
				<label class="checkbox-inline"><input type="checkbox" value=""/><div class="color-box" style="background: gold"></div></label>
				<label class="checkbox-inline"><input type="checkbox" value=""/><div class="color-box" style="background: biege"></div></label>
				<label class="checkbox-inline"><input type="checkbox" value=""/><div class="color-box" style="background: Burgundy"></div></label>
			</li>
			<li>Check the prints that are ‘not your type’</li>
			<li><b>Can we follow your awesomeness on Social Networks? With permission of course! We love learning more about you!</b>
			</li>
			<p>If you'd like to share any public social media user names so that our stylists can get a better sense of who you are when they style for you, please include them below. Share whatever you are comfortable with; we care a lot about privacy.
			<br><br>
			<span style="font-size: 14px; color: #aaa">This step is completely optional, confidential, and will be used only for styling your shipments.</span><p>You can provide any of the social media links, so that our stylist knows you better and makes you more gorgeous! :) We respect your privacy</p> 
			Pinterest Board: <input type="text" class="form-control bs" placeholder="Example: www.pinterest.com/zuplr/classic-style-inspiration/"/>
			Facebook : <input class="form-control bs" type="text"/>
			Linkedin: <input class="form-control bs" type="text"/>
			Instagram : <input class="form-control bs" type="text"/>
			Twitter: <input class="form-control bs" type="text"/><br>
			</p>
		</ul>
			<p>
			<h4 style="color:#dc0060">Final Thoughts?</h4>
			There must be things about you that can’t be captured in above questions, feel free to share here. We're all ears!<br>
			<textarea class="form-control" style="width: 80%;min-height: 120px;" placeholder="Any personalization message you would want to your stylist to know...For eg. i will be travelling in a month time and i would want more a cotton fabric cloth with a denim jeans in light blue color"></textarea>
			</p>
			<button class="btn btn-z btn-z1 transform-up" style="margin-top: 30px;" >Save my log</button>
	</form>
</div>