<div class="container" style="padding-top: 120px;">
	<h3 class="title" style="text-align: center;">Schedule your delivery</h3>
	<hr class="bms-style">	
	<p style="text-align: center;">We are excited to start styling you. Get ready for your most personalized - and effortless - shopping experience. Your handpicked Box will contain 5 items in clothing and accessories tailored to your taste, budget, and lifestyle. Keep what you love, we take back the rest. (Except-Traditional & Footwear)</p>
</div>