<style>
	.main_tagline {
		text-align: center;
		font-family: "Serifa", serif;
		color: black;
	}

	.form-section {
		margin-top: 0px;
		background-color: white;
		box-shadow: 2px 2px 5px #888888;
		padding-bottom: 20px;
		border-radius: 10px;
		opacity: 0.8;"
		filter: alpha(opacity=80); /* For IE8 and earlier */
	}

	.form-section:hover {
		margin-top: 0px;
		background-color: white;
		box-shadow: 2px 2px 5px #888888;
		padding-bottom: 20px;
		border-radius: 10px;
		opacity: 0.9;"
		filter: alpha(opacity=90); /* For IE8 and earlier */
	}

</style>
<div id= "contact-form">
	<br />
	<% if current_user.nil? %>
	<div class ="row" style="margin-top: 80px;">
		<div class="col-md-2"></div>
		<div class="col-md-4 form-section">
			<% if @mobile == nil %>
			<p>
				<h1 class="main_tagline"> Zuplr
				<br />
				<br />
				The simplest way to get great clothing, picked for you by a stylist. </h1>
			</p>
			<% else %>
			<p>
				<h2 class="main_tagline"> 
				<br />
				<br />
				The simplest way to get great clothing, picked for you by a stylist. 
				</h2>
			</p>
			<% end %>
			<br />
			<br />
			<br />
			<a href="/users/auth/facebook"><img src="fblogin.png" class="img-responsive" style="margin: auto; width: 307px;"></a>
			<a href="/users/auth/google_oauth2"><img src="glogin.png" class="img-responsive" style="margin-top: 10px; margin-left: auto; margin-right: auto; width: 300px; height: 64px;"></a>
			<div style="text-align: center; color: white; margin-top: 10px;">
				<a style="color: black;" data-toggle="modal" data-target="#loginModal"><u>Login</u></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a style="color: black;" data-toggle="modal" data-target="#signupModal"><u>Sign up with Email</u></a>
			</div>
		</div>
		<div class="col-md-2"></div>
		<div class="col-md-4"></div>
	</div>
	<br />
	<% else %>
	<br />
	<div class ="row" style="margin-top: 80px;">
		<div class="col-md-2"></div>
		<div class="col-md-4 form-section">
			<p>
				<h1 class="main_tagline"> Zuplr
				<br />
				<br />
				The simplest way to get great clothing, picked for you by a stylist. </h1>
			</p>
			<br />
			<br />
			<br />

			<%= button_to "Get Started", "/style-log", method: :get, id: "stylist-contact-submit", class: "btn btn-success center-block", style: "width: 300px;" %>
		</div>
		<div class="col-md-6"></div>
	</div>
	<br />
	<% end %>

</div>
