<style>
	.description {
		font-size: 18px;
		font-family: "BrandonText-Regular";
	}

	.name {
		margin-top: 30px;
		font-size: 25px;
		font-weight: 100;
		font-family: "BrandonText-Regular";
	}
</style>

<div class="container text-center">
	<h3>CUSTOMER GALLERY</h3>
	<br />
	<br />
	<div class="row">
		<div class="col-md-6 text-center">
			<%= image_tag('Anjali.jpg', alt: "Anjali", size: "400x400") %>
		</div>
		<div class="col-md-6 text-center">
			<br />
			<br />
			<br />
			<br />
			<p class="description">
				<i>
					"I was on a maternity leave, it was a moment where I completely had skipped about my looks.
				My husband Gopal told me about Zuplr and how a stylist helps in picking the best outfit.
				I was very very skeptical as i am very choosy about picking my own clothes, but here I am posing a pic
				in one of the dress sent by my Stylist Neelam ! I strongly recommend Zuplr for all women who after childbirth
				want to look trendy and stylish!"
				
				</i>
			</p>
			<p class="name">
				<i>-Anjali, Mother of a one year old</i>
			</p>
			<br />

		</div>
	</div>
	<br />
	<br />
	<hr />
	<br />
	<br />
	<div class="row">
		<% if @mobile == nil %>
		<div class="col-md-6 text-center">
			<br />
			<br />
			<br />
			<br />
			<p class="description">
				<i>"This concept is so new, and above all it is so helpful for a woman like me, I am a mother of a kid,
				hardly have any time to get the trendiest look especially that suits me. Happy to be Zuplr customer. Good luck to the team!"
				</i>
			</p>
			<br />
			<p class="name">
				<i>-Anupama</i>
			</p>

		</div>
		<div class="col-md-6 text-center">
			<%= image_tag('Anupama.jpg', alt: "Anupama", size: "400x400") %>
		</div>
		<% else %>
		<div class="col-md-6 text-center">
			<br />
			<br />
			<br />
			<br />
			<%= image_tag('Anupama.jpg', alt: "Anupama", size: "400x400") %>
		</div>
		<div class="col-md-6 text-center">
			<p class="description">
				<i>"This concept is so new, and above all it is so helpful for a woman like me, I am a mother of a kid,
				hardly have any time to get the trendiest look especially that suits me. Happy to be Zuplr customer. Good luck to the team!"
				</i>
			</p>
			<br />
			<p class="name">
				<i>-Anupama</i>
			</p>

		</div>
		<% end %>
	</div>
	<br />
	<br />
	<hr />
	<br />
	<br />
	<div class="row">
		<div class="col-md-6 text-center">
			<%= image_tag('Manisha.jpg', alt: "Manisha", size: "400x400") %>
		</div>
		<div class="col-md-6 text-center">
			<br />
			<br />
			<br />
			<br />
			<p class="description">
				<i>"I got to know Zuplr through my friend from IIT Madras. She recommended me for my Birthday and here I
				am now at my 4th Box already. I like the clothes my stylist gets for me, I myself cannot pick such clothes and
				the best part is it is always a big SURPRISE!"
				</i>
			</p>
			<p class="name">
				<br />
				<i>-Manisha, Software Engineer</i>
			</p>
		</div>
	</div>
	<br />
	<br />
	<hr />
	<br />
	<br />
</div>
