<div class="container">
	<div class="row">
		<div class="col-md-12 text-center social-row">
			<a href="https://www.facebook.com/Zuplr/" target="_blank"> <img src="https://cdn3.iconfinder.com/data/icons/social-media-chamfered-corner/154/facebook-48.png" alt=""> </a>
			<a href="https://twitter.com/zuplr_" target="_blank"> <img src="https://cdn3.iconfinder.com/data/icons/social-media-chamfered-corner/154/twitter-48.png" alt=""> </a>
			<a href="https://www.instagram.com/zuplr/" target="_blank"> <img src="https://cdn3.iconfinder.com/data/icons/social-media-chamfered-corner/154/instagram-48.png" alt=""> </a>
			<a href="https://www.pinterest.com/zuplr/" target="_blank"> <img src="https://cdn3.iconfinder.com/data/icons/social-media-chamfered-corner/154/pinterest-48.png" alt=""> </a>
		</div>
	</div>
</div>