<div class="container">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 text-center">
			<h3>What is Zuplr</h3>
			<p>
				Zuplr is a personal styling service tailored to your taste, budget and lifestyle
				that helps you look and feel your best every day. Personal Stylists are not just for celebs. We take ordinary people and give them an extraordinary style!
			</p>
			<!-- <a href="/users/start">
			<button type="button" class="btn default-btn btn-zr-1">Let's Get Started!</button>
			</a> -->
		</div>
	</div>
</div>