<div style="padding-top:120px" class="container">
	<div id='confirm-submission' style="text-align: left; padding-left: 5%;">
		<h3 >Thank you for contacting us. Our stylist will get back to you shortly!</h3>
		<h3>Your Order Code is : <strong id="result_code"></strong></h3>
		<h3><%= link_to 'View Style Log', "/style-log" %></h3>
		<h3><%= link_to 'View Previous Orders', "/orders" %></h3>
	</div>
</div>
