<br /><br /><br /><br /><br />
<div class="static-page">
	<div class="content">
		<div class="container">
			<div class="title"><h2>About us</h2></div>
			<div class="row">
				<div class="col-sm-12" style="font-size: 14px;padding-top:30px;line-height: 30px;">
					<p>
						Zuplr is the India’s first fashion house to blend expert styling, proprietary technology and unique product to deliver a shopping experience that is truly personalized for you. 
					</p>
					<p>
						Simply fill out the Zuplr Style Profile and our professional stylists will pick out items they think you’ll love. stylists will handpick a selection of five clothing items and accessories unique to your taste, budget and lifestyle. Simply buy what you like and return the rest.
					</p>	
				</div>
			</div>
			<div class="title" style="padding-top: 40px;"><h2>How it works</h2></div>
			<div class="row">
				<div class="col-sm-12" style="padding-top: 30px;">
					<p>Style Profile: Take our fun style survey to help us understand your size and fashion preferences so we can pick the right things for your body, personal style, and life!
					</p>
					<p>
					Get your Goodies: Trend-forward, beautiful clothes and accessories from the latest and greatest designers and brands arrive at your door as often as once a month.
					</p>
					<p>
					Fashion Show: Shop everything at home-- your mirror, your favorite skinny jeans, and all of the shoes in your closet. Keep what you love, send back what you don’t. Easy!
					</p>
				</div>
			</div>		
		</div>
	</div>
</div>