<br />
<br />
<br />
<div>
	<div class="content">
		<div class="container">
			<br />
			<br />
			<div class="title">
				<h2>About us</h2>
			</div>
			<div class="row">
				<div class="col-sm-12" style="font-size: 14px;padding-top:30px;line-height: 30px;">
					<p>
						Zuplr is the India’s first fashion portal to blend expert styling, proprietary technology and unique product to deliver a shopping experience that is truly personalized for you.
					</p>
					<p>
						Simply fill out the Zuplr Style Profile and our professional stylists will pick out items they think you’ll love. Stylists will handpick a selection of four to five clothing items and accessories unique to your taste, budget and lifestyle. Simply buy what you like and return the rest.
					</p>
					<p>
						<b>Currently, we only style women.</b>
					</p>
				</div>
			</div>
			<div class="title" style="padding-top: 40px;">
				<h2>How it works</h2>
			</div>
			<div class="row">
				<div class="col-sm-12" style="padding-top: 30px;">
					<p>
						Style Profile: Take our fun style survey to help us understand your size and fashion preferences so we can pick the right things for you!
					</p>
					<p>
						Payment : We will send you a payment link, you will be charged only for what you keep.
					</p>
										<p>
						Get your Goodies: Trend-forward, beautiful clothes and accessories from the latest and greatest designers and brands arrive at your door as often as once a month.
					</p>
					<p>
						Try-on : Try everything at home. Keep what you love, send back what you don’t. Easy!
					</p>
					<p>
						Returns : You have 3 days to decide which items you wish to keep. You need to schedule a return online. You MIGHT have to pay our courier partner a return fee, which we will credit to your account.

					</p>
				</div>
			</div>
		</div>
	</div>
</div>