<br /><br /><br /><br /><br />
<div class="static-page">
	<div class="content">
		<div class="container">
			<div class="title"><h2>Contact Us</h2></div>
			<div class="row">
				<div class="col-sm-12" style="font-size: 14px;padding-top:30px;line-height: 30px;">
					 <span>WE ARE SOCIAL - Track the latest looks at </span><br>
        <a href="https://www.facebook.com/Zuplr/" target="_blank"><img src="https://s20.postimg.org/hnkyewqy1/1451515586_facebook_circle_color.png" width="60" height="60" style="outline:none;text-decoration:none;padding-top:15px;border:0" class="CToWUd"></a><a href="https://twitter.com/zuplr_" target="_blank"><img src="https://s20.postimg.org/3l3mdoay1/1451515668_twitter_circle.png?V2" alt="Twitter" width="60" height="60" style="outline:none;text-decoration:none;padding-top:15px;padding-left:6px;padding-right:3px;border:0" class="CToWUd"></a><a href="https://www.instagram.com/zuplr/" target="_blank"><img src="https://s20.postimg.org/5zqwkd1t5/1451515867_Instagram.png?V2" alt="Instagram" width="80" height="80" style="outline:none;text-decoration:none;padding-top:15px;padding-left:3px;padding-right:5px;border:0" class="CToWUd"></a><a href="https://www.pinterest.com/zuplr/" target="_blank"><img src="https://s20.postimg.org/615frit0p/1451515710_pinterest.png?V2" alt="Pinterest" width="60" height="60" style="outline:none;text-decoration:none;padding-top:15px;border:0" class="CToWUd"></a>
				</div>
				<div class="col-sm-12" style="font-size: 14px;padding-top:30px;line-height: 30px;">
					<br />
					<span><h2>Got a query?</h2></span> <br/>
					Please write to us at <a href="mailto:friends@zuplr.com" style="color:#571B7E;text-decoration:underline" target="_blank">friends@<span>zuplr</span>.com</a>
				</div>
			</div>
		</div>
	</div>
</div>