<div class="static-page">
	<div class="content">
		<div class="container">
			<div class="title">Privacy Policy</div>
			<div class="row">
				<div class="col-sm-12" style="font-size: 14px;padding-top:30px;line-height: 30px;">
					<strong>IS MY DATA SAFE WITH YOU?</strong>
          <br><br>
          Yes, we give highest preference to the security of information you provide us about your style sense, and share it with our stylist only

				</div>
			</div>
		</div>
	</div>
</div>