<br />
<br />
<br />
<div>
	<div class="content">
		<div class="container">
			<br />
			<br />
			<br />
			<div class="title">
				<h2>Privacy Policy</h2>
			</div>
			<div class="row">
				<div class="col-sm-12" style="font-size: 14px;padding-top:30px;line-height: 30px;">
					Zuplr is committed to protecting and ensuring your privacy. 
					This notice describes our privacy policy, and by visiting zuplr.com you are accepting the practices described in this Privacy Policy.
					<br /><br />
					<b>Information You Give Us</b>
					<br />
					Our goal is to provide you with a safe and enjoyable experience. 
					When we collect information about you it is in an effort to make our products and services more efficient and personalised to you.
					You are free to browse the Zuplr site without revealing any personal information about yourself. 
					<br /><br />
					<b>Automatic Information</b>
					<br />
					We automatically track certain information based upon your behavior on our site. 
					We use this information to analyze our users' behavior, interests, and demographics to better understand and serve our customers. 
					This information may include the URL that you just came from, which URL you next go to, what browser you are using and your IP address.
					We do not share any of your personal information with thrid parties without your express consent.

				</div>
			</div>
		</div>
	</div>
</div>