<br />
<br />
<br />
<div>
	<div class="content">
		<div class="container">
			<br /><br />
			<div class="title">
				<h3>Returns and Refunds</h3>
			</div><br /><br />
			<strong>Q. What is your return policy?</strong><br />

			Ans. If you would like to return a piece or the box you just need to fill a return/feedback form and

			keep the item(s) in the box, or you can consult with your stylist over the call. We ask that the

			clothes are returned with their labels on and in a re-saleable condition, otherwise we will have to

			charge you for them. We request you to go through terms and conditions thoroughly to avoid

			any inconvenience later on.
			
			<br /><br />

			<strong>Q. What happens if the delivery arrives while I'm at work?</strong><br />

			Ans. We will call you before shipping the order, so if you will not be at home just let us know a

			suitable time so that we can deliver the order at the earliest.
		</div>
	</div>
</div>
</div>
</div>