<br />
<br />
<br />
<div>
	<div class="content">
		<div class="container">
			<br />
			<br />
			<div class="title">
				<h3>Returns, Refunds and Exchanges</h3>
			</div>
			<br />
			<br />
			<strong>Q. What is your return policy?</strong>
			<br />

			Ans. You can keep what you like out of the 4 or 5 pieces of apparels and accessories and you can return the rest by scheduling a return online. 
			<br />
			You have 3 days to decide what you wish to keep.
			<br />
			Just let us know if you don’t get your Zuplr Goodies in time or if our trusty post office has let us down and we can make exceptions.
			<br />
			<br />
			Clothing and accessories must be returned unworn( No perfumated, no wear & tear, no stains, so crumbling please).
			‘Respect your clothes & the clothes will respect you’.
			<br />
			Please be kind and gentle with the items :) our stylists works real hard on every items they send you!
			<br />
			<br />
			We can't accept any additional returns after your initial return is sent. Make sure you try everything on before you drop your returns in the mail!
			If your return has not been scheduled within 3 days of receipt, we will assume you are keeping it all (woohoo!) and charge you for all.

			<br />
			<br />

			<strong>Q. What happens if the delivery arrives while I'm at work?</strong>
			<br />

			Ans. We will call you before shipping the order, so if you will not be at home just let us know a

			suitable time so that we can deliver the order at the earliest.

			<br /><br />

			<strong>Q. Can I get another size or do an exchange?</strong>
			<br />

			Ans. Everything we order is limited quantity ( our stylist personally handpicks & quality checks the items ) . 
			It means we can get you unique and interesting pieces, but it also means that we are unable to accommodate size exchanges.
			We have a ton of information about your body-type and size so we usually get your size right!
			If you need a different size you can contact us directly at our whatsapp number or send us message at Zuplr Facebook page and we of course will try our best but unfortunately we can’t guarantee the availability of a particular size.

		</div>
	</div>
</div>
</div>
</div>