<br /><br /><br />
<div class="static-page">
	<div class="content">
		<div class="container">
			<div class="title"><h2>Returns and Refund</h2></div>
			<div class="row">
				<div class="col-sm-12" style="font-size: 14px;padding-top:30px;line-height: 30px;">
					<strong>After how many days can I return the items I don't want to keep?</strong>
          <br>
          You can notify us of your choices within 48 hours of the delivery, and we will pick up the ones you have preffered not to keep.
				</div>
				<div class="col-sm-12" style="font-size: 14px;padding-top:30px;line-height: 30px;">
					<strong>Is there any refund policy?</strong>
          <br>
          No, if you notify us after 48 hours of the delivery, there will be no refund or return processed.
				</div>
			</div>
		</div>
	</div>
</div>