<div class="static-page">
	<div class="content">
		<div class="container">
			<div class="title">Shipping policy</div>
			<div class="row">
				<div class="col-sm-12" style="font-size: 14px;padding-top:30px;line-height: 30px;">
				</div>
			</div>
		</div>
	</div>
</div>