<div>
	<div class="content">
		<br />
		<br />
		<br />
		<br />
		<br />
		<div class="container">
			<div class="title">
				<h3>Shipping policy</h3>
				<br />
				<br />
			</div>

			<strong>Q. How does your shipping work?</strong>
			<br />
			Ans. Once you make a wish we will deliver the box to you in a span of 2-5 days.
			<br />
			<br />

			<strong>Q. How you will be shipping my order?</strong>
			<br />

			Ans. We will give you both the options – delivering at home or in the office. If you chose to receive

			the shipment at your work place, you will have an entire day to try the stuff on and if you opt to

			choose the shipment at your place you will have an hour to try the clothes on.
			<br />
			<br />

			<strong>Q. Do I have to pay for the shipping charges?</strong>
			<br />
			Ans. Currently our shipping is free, but for any returns, applicable fees will be charged as per our courier partner.
			<br />
			<br />

			<strong>Q. How can I track my shipment?</strong>
			<br />
			Ans. Once your shipment will be dispatched you will receive a mail or a call from Zuplr and within a day your order will be delivered.
			<br />
			<br />

			<strong>Q. Can I cancel the shipment?</strong>
			<br />
			Ans. You can log into your account and in the order section you can cancel your shipment.
			Although you can cancel the shipment anytime you want, but it will be convenient for us if you will let us know within two days of placing the order.
			<br />
			<br />
			
			<strong>Q. What is the estimated delivery time?</strong>
			<br />
			Ans. The estimated delivery time is minimum of 3 days from the day you will place the order, but we will try our best to deliver it to you at the earliest.
			<br />
			<br />
			
			<strong>Q. What shall I do if my shipment has been tampered or opened upon delivery?</strong>
			<br />
			Ans. We ensure quality check before delivering the item, but if you find a damaged item let us know we will replace it.
			<br />
			<br />
			
			<strong>Q. Where can you ship the package to?</strong>
			<br />

			Ans. We can ship the package to the address that you will mention in your profile.
			<br />
			<br />
			<strong>Q. Can I expedite the shipping process?</strong>
			<br />

			Ans. Good service is of utmost importance to us. The entire process involves a lot of steps starting
			from research by our stylist to picking best clothes, packaging and then shipping. Still, we will
			try our best to deliver you in the minimum time possible.
			<br />
			<br />
		</div>
	</div>
</div>