<div class="static-page">
	<div class="content">
		<br /><br /><br />
		<div class="container">
			<div class="title">
				<h3>Shipping policy</h3><br /><br />
			</div>
			<div>
				<strong>Q. How can I track my shipment?</strong><br />
				Ans. Once your shipment will be dispatched you will receive a mail or a call from Zuplr and within a day your order will be delivered.
				<br /><br />
				<strong>Q. Can I cancel the shipment?</strong><br />
				Ans. You can log into your account and in the order section you can cancel your shipment. Although you can cancel the shipment anytime you want, but it will be convenient for us if you will let us know within two days of placing the order.
				<br /><br />
				<strong>Q. What is the estimated delivery time?</strong><br />
				Ans. The estimated delivery time is 2-5 days from the day you will place the order, but we will try our best to deliver it to you at the earliest.
				<br /><br />
				<strong>Q. What shall I do if my shipment has been tampered or opened upon delivery?</strong><br />
				Ans. We ensure quality check before delivering the item, but if you find a damaged item let us know we will replace it.
			</div>
		</div>
	</div>
</div>