<div class="vendor_body">
	<p>
		<strong>Id</strong>
		<%= @vendor.id %>
	</p>

	<p>
		<strong>Name</strong>
		<%= @vendor.name %>
	</p>
	
	<p>
		<strong>Created at</strong>
		<%= @vendor.created_at %>
	</p>
</div>
