<div class="container" style="padding-top: 40px;">
  <div class="row invite-row padding-space">
    <div class="col-sm-6 col-sm-offset-3 ">
     <h2 style="text-align: center">
       Invite Your Friends <!--and Earn Free Boxes-->
     </h2>
     <hr class="bms-style">
     <p style="line-height: 24px; margin-bottom: 20px; text-align: center">
     	Share your personal referral link with your friends and encourage them to try Zuplr. 
     </p>
     <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
     <%= devise_error_messages! %>
     <div>
      <% resource.class.invite_key_fields.each do |field| -%>
      <%= f.email_field field, name: "user[email][]",class: "form-control", placeholder: "Enter your friend's email address", required: true %></p>

      <div id="createNewTextbox" >
      </div>
      <a id="btnLinkCreate" href="#" onClick="create_new();">
        <i class="fa fa-plus"></i> <span>INVITE MORE</span>
      </a>
      <% end -%>
    </div>
    <p>
     <%= f.submit t("devise.invitations.new.submit_button"), class: "btn btn-sm btn-z1 send-invite btn-block" %>
   </p>
   <% end %>
 </div>
</div>
</div>

<script>
  function create_new() { $('#createNewTextbox').append('<input type="email" id="email" name="user[email][]" class="form-control"placeholder = "Enter your friend\'s email address " required/>'); }
</script>
