.slider-overlay{
	position: absolute;
	z-index: 100;
	background: rgba(0, 0, 0, 0.6);
	height: 100%;
	width: 100%;
}

.inner-form{
	.field{
		margin-bottom: 20px;
	}
	input{
		border-radius: 2px;
	}
}

.content{
	padding-top: 120px;
	.bms-style{
	}
	.title{
		text-align: center;
	}
}
.comments{
	p{
		border-bottom: 1px dotted #ddd;	
		padding: 10px 20px;
	}
	p:last-child{
		border-bottom: none;
	}
}

.bms-style{
	display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid rgba(220, 0, 96 ,1);
    margin: 2em auto;
    padding: 0; 
    width: 60px;
}

.navbar-zuplr{
		.navbar-brand {
			color: #fff;
			margin-top: 0px;
			border: none !important;
			&:hover, &:focus{
				color: #fff !important;
			}
		}

		.btn-zr-1{
			background: transparent;
			margin-top: 0px;
			color: white !important;
			padding: 10px 20px !important;
			font-size: 13px !important;
			border: none;
			border-radius: 2px;
			margin: 6px 15px 0 0;
		}
}


.text-center{
	h3{
		text-transform: uppercase;
		color: #666;
		letter-spacing: 1px;
	}
	h4{
	    font-size: 18px;
	    text-transform: uppercase;
	    margin: 25px 0px;
	    color: #333;
	}
	p{
		line-height: 24px;
		font-weight: 500;
		margin: 20px 0px;
	}
}
.lead-form{
 	position: absolute;
 	z-index: 9999;
 	bottom: 300px;
 	left: 20%;
 }

.btn-zr-2{
			background: transparent;
			color: white !important;
			padding: 10px 20px !important;
			font-size: 13px !important;
			border: 1px solid #d7d7d7;
			width: 100%;
			border-radius: 2px;
			margin: 6px 15px 0 0;
			margin-top: 20px;

			&:hover{
				background: rgba(220, 0, 96, 1);
				border: none;
			}

			&:focus{
				background: rgba(220, 0, 96, 1);
				border: none;
			}
} 

.carousel-inner{
	.testimonial{
		color: white;
	    position: absolute;
	    border: 1px solid #f7f7f7;
	    right: 20%;
	    width: 400px;
	    bottom: 400px;
	    border-radius: 2px;
	    padding: 30px 40px;
	    z-index: 101;
	    line-height: 24px;

	    .user{
	    	position: absolute;
	    	bottom: -50px;
	    	right: -75px;
	    	width: 250px;
	    	backgrond: white;
	    	div{
	    		float: left; 
	    		width: 150px;
	    		margin: 30px 0px;
	    		padding: 5px 15px;
	    		background: white;
	    		border-radius: 2px;
	    		color: black;
	    		margin-right: -20px;
	    	}
	    	img{
	    		float: left; 
	    		width: 100px;
		    	height: 100px;
		    	border-radius: 100px;
	    	}
	    }
	}
}
.section{
	padding: 40px 0px;
	text-align: center;
	background: white;

	.title{
		text-align:center;
		font-size: 24px;
		padding: 0px 0px 30px;
	}

	.big-title{
		font-size: 32px;
		text-align: center;
		font-weight: bold;
		padding: 0px 0px 30px;
	}

	.transform-up{
		text-transform: uppercase;
	}

	.text{
		text-align: center;
		line-height: 32px;
		font-size: 16px;
	}

	&.section-bg1{
		background: #f8f8f8;
	}
}

.tiles{
	text-align: center;

	.tile{
		padding: 0px;
		img{
			width: 30%;
		}

		.tile-title{
			font-size: 18px;
			text-transform: uppercase;
			padding: 20px;
		}

		.tile-text{
			padding: 20px;
			line-height: 24px;
			font-size: 14px;
			display: none;
		}
	}
}

.featured{
	img{
		width: 100%;
	}
	.col-sm-6{
		padding:0px;
	}
}

.devise-form{
	padding: 120px 0px 0px;
}

.faqs{
	.col-sm-6{
		padding-bottom: 40px;
		height: 220px;
		line-height: 24px;
		.question{
			font-weight: bold;
			padding-bottom: 15px;
			font-size: 16px;
		}
	}
	ul{
		li{
			padding: 8px;
		}
	}
}

body {
	font-family: 'Open Sans', sans-serif;
}

.navbar-inverse {
	/*z-index: 50;*/
	background-color: transparent;
	border-color: transparent;

	.navbar-nav > .active > a {
		color: #fff;
		background-color: transparent;

		&:hover, &:focus {
			color: #fff;
			background-color: transparent;
		}
	}


	

	.navbar-nav > li > a {
		color: #444;
		font-size: 14px;
		text-transform: none !important;

		&:hover, &:focus, &:active {
			color: #444;

		}
	}
}

nav {
	&.affix {
		background-color: rgba(220, 0, 96, 0.8);
		z-index: 99999;
		.navbar-nav > li > a {
			color: #fff;
			&:hover, &:focus{
				color: #fff !important;
			}
		}

		.navbar-brand {
			color: #fff;
			border: none !important;
			&:hover, &:focus{
				color: #fff !important;
			}
		}

		.btn-zr-1{
			background: transparent;
			color: white !important;
			padding: 10px 20px !important;
			font-size: 13px !important;
			border: none;
			border-radius: 2px;
			margin: 6px 15px 0 0;
		}

	}

	&.affix-top{
		.navbar-brand {
			color: #fff;
			font-size: 24px !important;
			margin-top: 20px !important;
			padding: 15px 0px;
			border: none !important;
			&:hover, &:focus{
				color: #fff !important;
			}
		}

		.navbar-nav > li > a{
			margin-top: 20px;
			color: #fff !important;
		}

		.btn-zr-1{
			background: rgba(220, 0, 96 , 1);
			color: white !important;
			padding: 10px 20px !important;
			font-size: 13px !important;
			// letter-spacing: 0.2px;
			border: none;
			border-radius: 2px;
			margin: 20px 15px 0 0;
			&:hover{
				border: 1px solid #ddd;
				border-radius: 2px;
			}
		}
	}
}

#home {
	height: 100vh;
}



.default-btn {
	background-color: rgba(220, 0, 96, 1);
	border-radius: 2px;
	border-color: #DA546D;
	color: #fff;
	font-size: 16px;
	margin-top: 20px;
	padding: 10px 40px; 
	&:hover, &:focus {
		color: #fff;
	}
}

/* Full screen image carousel */
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}
.fill{
	width:100%;
	height:100%;
	background-position:center;
	background-size:cover;
}

/* faster sliding speed */
.carousel-inner > .item {
	-webkit-transition: 0.3s ease-in-out left;
	-moz-transition: 0.3s ease-in-out left;
	-o-transition: 0.3s ease-in-out left;
	transition: 0.3s ease-in-out left;
}

/* keep full widget on smaller screens */
@media (max-width: 767px) { 
	body {
		padding-left: 0;
		padding-right: 0;
	}
}

.carousel-control{
	&.left, &.right {
		background-image: none
	}

	top: 40vh;
	left: 2vh;
	right: 2vh;
	font-size: 70px;
}

#form-name {
	text-align: center;
}

#form-phone {
	text-align: center;
}



.home-form{
	.form-control{
		border-radius: 2px;
		font-size: 14px;
		height: 50px;
	}
}

.full-width-btn {
	text-align: center;
	width: 100%;
	border-radius: 0;
	height: 50px;
	background-color: rgba(220, 0, 96, 1);
	border-color: rgba(220, 0, 96, 1);
	text-transform: uppercase;
	font-weight: 600;
	font-size: 13px;
	padding: 10px;
	&:hover, &:focus, &:active {
		background-color: rgba(220, 0, 96, 1) !important;
		border-color: rgba(220, 0, 96, 1) !important;
	}
}

.form-group.col-md-6.col-sm-6 {
	padding-right: 0;
}

.btn-column {
	padding-right: 0;
}

.name-phone-column {
	text-align: center;
	padding: 30px 0px;
	border-radius: 4px;
	h3 {
		color: #fff;
		font-size: 28px;
		font-weight: 500;
		margin-bottom: 20px;
	}
	.form-group{
		padding: 0px;
	}
	.btn-column{
		padding: 0px;
	}

}

.carousel-control {
	width: 7%;
}

#slide1 {
	background-image: url('/home-bg.jpg');
}

#slide2{
	background-image: url('/slider-2.jpg');
}	

#slide3{
	background-image: url('/slider-3.jpg');
}

#what {
	min-height: 40vh;
	padding: 40px 30px;
	h3 {
		margin-bottom: 20px;
	}

	p {
		line-height: 48px;
		color: #333;
		font-size: 24px;
		width: 75%;
		margin:0 auto 20px;
		font-weight: 500;
	}

}

#how {
	padding: 20px 30px;
	h3{
		text-transform: uppercase;
		color: #666;
		letter-spacing: 1px;
	}
	min-height: 50vh;
}

.social-row {
	img {
		margin-right: 10px;
	}
}

#footer {
	ul li {
		padding-right: 25px;
		a {
			color: #444;
			text-transform: uppercase;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.footer-hr {
	border-top: 2px solid #DA546D;
	margin-bottom: 25px;
	margin-top: 80px;
}

.primary-nav {
	.navbar-brand {
		// color: #DA546D !important;
		// margin-top: 10px !important;
		// border: 2px solid #DA546D !important;
		// height: 34px !important;
		// padding: 5px 15px 5px 15px !important;
		// &:hover, &:focus {
		// 	color: #DA546D !important;
		// }
	}
}













