// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.style-log{
	line-height: 32px;
	font-size:16px;
	padding:0px 60px;
	text-align: justify;

	h4{
		font-weight: bold;
		padding: 0px 0px 10px;
	}

	p{
		line-height: 32px;
	}
	ul{
		padding: 0px;
		li{
			padding: 10px 0px;
		}
	}

	select{
		border:0px;
		border-bottom:1px dashed #656565;
		padding: 0px 20px;
		text-align: center;
		font-size: 18px;
		font-weight: bold;
		background: none;
		-moz-appearance: none;
	    -webkit-appearance: none;
	    appearance: none;

		option{
			padding: 10px 20px;
		}

		&:focus{
			outline: none;
		}
	}

	input{
		border: 0px;
		border-bottom:1px dashed #656565;
		font-size: 18px;
		font-weight: bold;

		&:focus{
			outline: none;
		}
	}

	.input-sm{
		width: 60px;
		text-align: center;
	}

	.bs{
		border: 1px solid #ddd;
		padding: 15px 20px;
		font-weight: normal;
		font-size: 14px;
		width: 80%;
	}
}