// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#delivery-form{
	
	form{
		font-size: 20px;
		background: #f7f7f7;
		padding: 20px;
		line-height: 40px;
		text-align: center;
	}

	input{
		border-radius: 2px;
		border: 0px;
		// border-bottom:1px dashed #656565;
		font-size: 18px;
		font-weight: bold;
		margin:5px 5px;
		padding-left: 20px;
	    
		&:focus{
			outline: none;
		}
	}
}

.style-log{
	line-height: 32px;
	font-size:16px;
	padding:0px 5%;
	text-align: justify;

	h4{
		font-weight: bold;
		padding: 0px 0px 10px;
	}

	p{
		line-height: 32px;
	}
	ul{
		list-style: none;
		padding: 0px;
		li{
			padding: 15px 20px;
			background: rgba(252,252,252,1);
			margin-top:5px;
			border-radius: 4px;
		}

		ul{
			padding-left: 20px;
			li{
				min-height: 35px;
				padding: 0px;
				width: 80%;
				select{
					float: right;
				}
			}
		}
	}

	select{
		border:0px;
		// border-bottom:1px dashed #656565;
		padding: 0px 20px;
		text-align: center;
		font-size: 14px;
		font-weight: bold;
		background: #fff;
		-moz-appearance: none;
	    -webkit-appearance: none;
	    appearance: none;
	    margin:5px 5px;
	    border-radius: 2px 2px 0px 0px;
	    border: 1px solid rgba(220,0,96,0.2);
		line-height: 25px;
	    
		option{
			padding: 10px 20px;
		}

		&:focus{
			outline: none;
		}
	}

	input{
		border: 1px solid rgba(220,0,96,0.2);
		font-size: 14px;
		font-weight: bold;
		margin:5px 5px;
		line-height: 25px;
	    
		&:focus{
			outline: none;
		}
	}

	.input-sm{
		width: 60px;
		text-align: center;
	}

	.bs{
		border: 1px solid #ddd;
		padding: 15px 20px;
		font-weight: normal;
		font-size: 14px;
		width: 80%;
	}

	.color-box{
		width: 80%;
		height: 40px;
		border: 1px solid #ccc;
		border-radius: 4px;
	}

	.checkbox-inline{
		vertical-align: baseline;
		width: 10%;
	}

	.looks{
		text-align: left;

		li{
			background: rgba(255,255,255,1);
		}

		img{
			padding: 20px;
			text-align: center
		}
	}

	.prints{
		.checkbox-inline{
			width: 30%;
			padding: 10px 20px;
			text-align: left;
			
			input[type="checkbox"]{
				margin-top: 40px;
			}
		}
		img{
			width:100%;
		}
	}
}

.padding-space {
	padding-top: 75px;
}