<div class="brands_body">
	<p>
		<strong>Id</strong>
		<%= @brand.id %>
	</p>

	<p>
		<strong>Name</strong>
		<%= @brand.name %>
	</p>
	
	<p>
		<strong>Created at</strong>
		<%= @brand.created_at %>
	</p>
</div>
