<hr class="footer-hr">

<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="list-inline">
          <li><a href="/pages/about-us">About us</a></li>
          <li><a href="/pages/contact-us">Contact us</a></li>
          <li><a href="/pages/privacy-policy">Privacy policy</a></li>
          <li><a href="/pages/shipping-policy">Shipping policy</a></li>
          <li><a href="/pages/returns-and-refund">Return and Refund policy</a></li>
          <!--<li><a href="/pages/terms-and-conditions">Terms and conditions</a></li>-->
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 text-center">
        <p>&#169 Zuplr - Your personal stylist</p>
        <p>Zuplr Fashion Tech Ltd. - All Rights Reserved</p>
      </div>
    </div>
  </div>

</section>